# For release branches, the following files should be removed from
# the branch's gitignore.  They are produced by bootstrap, and should *NOT*
# be ignored on release branches, only development branches:
#-----
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
config/language-ElmerFudd.sys
config/language-MuppetsChef.sys
config/language-OldeEnglish.sys
config/language-PigLatin.sys
config/language-PirateEnglish.sys
configure
depcomp
install-sh
missing
#-----
#Everything from here down should be left alone, and make us ignore
# configure and build artifacts.  They should be ignored on all branches:
*~
*.swp
*.o
build
devel
make.log
OSM_tiled_cycle.geo
OSM_tiled_fosm.geo
OSM_tiled_mapnik.geo
.deps
autom4te-2.53.cache
Makefile
nwr
stamp-h.in
SYMBOLS.TXT
config.h
config.log
config.status
summary.log
stamp-h1
xastir.spec
xastir-min.spec
xastir-lsb.spec
src/Makefile
src/testdbfawk
src/xastir
src/xastir_udp_client
src/compiledate.c
src/tile_test
src/rtree/librtree.a
scripts/values
scripts/values.pl
config/tnc-startup.def
callpass/callpass
Davis/src/db2APRS
LaCrosse/src/open2300db2APRS

