*~
*.o
*.swp
build
.deps
OSM_tiled_cycle.geo
OSM_tiled_fosm.geo
OSM_tiled_mapnik.geo
OSM_tiled_mapquest-aerial.geo
OSM_tiled_mapquest.geo
aclocal.m4
autom4te-2.53.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
devel
install-sh
Makefile.in
Makefile
make.log
missing
mkinstalldirs
nwr
stamp-h.in
SYMBOLS.TXT
autom4te.cache
config.h
config.log
config.status
summary.log
stamp-h1
xastir.spec
xastir-min.spec
xastir-lsb.spec
src/Makefile.in
src/Makefile
src/testdbfawk
src/xastir
src/xastir_udp_client
src/compiledate.c
src/tile_test
src/rtree/librtree.a
src/shapelib/shpcreate
src/shapelib/shpadd
src/shapelib/shpdump
src/shapelib/dbfcreate
src/shapelib/dbfadd
src/shapelib/dbfdump
src/shapelib/shptest
src/shapelib/shptreedump
src/shapelib/shputils
src/shapelib/shprewind
src/shapelib/contrib/shpdxf
src/shapelib/contrib/dbfinfo
src/shapelib/contrib/shpcentrd
src/shapelib/contrib/shpdata
src/shapelib/contrib/shpwkb
src/shapelib/contrib/dbfcat
src/shapelib/contrib/shpinfo
src/shapelib/contrib/shpfix
src/shapelib/contrib/shpcat
src/shapelib/contrib/shpproj
scripts/values
scripts/values.pl
config/language-ElmerFudd.sys
config/language-MuppetsChef.sys
config/language-OldeEnglish.sys
config/language-PigLatin.sys
config/language-PirateEnglish.sys
config/tnc-startup.def
callpass/callpass
Davis/aclocal.m4
Davis/autom4te.cache
Davis/config.h
Davis/config.h.in
Davis/config.log
Davis/config.status
Davis/configure
Davis/stamp-h1
Davis/mkinstalldirs
Davis/depcomp
Davis/install-sh
Davis/missing
Davis/db2APRS
LaCrosse/make.log
LaCrosse/stamp-h.in
LaCrosse/config.h
LaCrosse/config.log
LaCrosse/aclocal.m4
LaCrosse/autom4te.cache
LaCrosse/config.h.in
LaCrosse/config.status
LaCrosse/stamp-h1
LaCrosse/mkinstalldirs
LaCrosse/depcomp
LaCrosse/install-sh
LaCrosse/missing
LaCrosse/src/open2300db2APRS

